:root {
    --main-color: #cbfe1c;
    --bg-color: #0B0E13;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Days One', sans-serif;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    height: 3000px;
}

.container {
    padding-inline: 30px;
}

.bg-main {
    background-color: var(--main-color);
}

.text-main {
    color: var(--main-color);
}

.btn-shine {
    position: relative;
    overflow: hidden;
    transition: all .3s;
    border: 1px solid var(--main-color);
}

/* .btn-shine:hover {
    background-color: #a4ce1a;
    border-color: #a4ce1a;
} */

.btn-shine::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, .6), transparent);
    transition: all .3s;
}

.btn-shine:hover::before {
    left: 100%;
}

.btn-custom {
    background-color: transparent;
    transition: all 0.3s;
}

.btn-custom:hover {
    color: #000;
    background-color: var(--main-color);
}

.btn-shine:hover,
.btn-custom:hover {
    background-color: #a4ce1a;
    border-color: #a4ce1a;
}

p {
    color: #d1d5dc;
}

.text-gray {
    color: #99a1af;
}

/*? Start Navbar */
nav {
    background-color: var(--bg-color);
}
.nav-item .nav-link, .nav-icon li {
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--main-color);
}

.navbar .navbar-brand:hover,.nav-item .nav-link:hover, .nav-icon li:hover {
    color: var(--main-color);
}

.nav-icon li button {
    border: none;
}

.heading span {
    letter-spacing: 2px;
    position: relative;
}

.heading span::before, .heading span::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.heading span::before {
    left: -80%;
    background: linear-gradient(to right, transparent, var(--main-color));
}

.heading span::after {
    right: -80%;
    background: linear-gradient(to left, transparent, var(--main-color));
}

.heading h2 {
    font-size: 48px;
}

main {
    background-color: var(--bg-color);
}
/*? End Navbar */

/*? Start Home Section */

.home {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.88)), url(../imgs/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

h1 {
    font-size: 60px;
}

.hero-text p {
    max-width: 550px;
    line-height: 1.6;
}

.hero-img img {
    height: 400px;
    object-fit: cover;
    border: 5px solid var(--main-color);
}

.hero-badge {
    background-color: #0B0E13;
    border: 1px solid rgba(128, 128, 128, .2);
    bottom: -5%;
    left: -5%;
}

.hero-badge p {
    font-size: 12px;
}

/*? End Home Section */

/*? Start Our Games Section */



/*? End Our Games Section */